* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #369e47;
background: linear-gradient(90deg, rgba(54, 158, 71, 1) 0%, rgba(88, 204, 2, 1) 50%, rgba(54, 158, 71, 1) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}